[Unit]
Description=hero
After=network.target

[Service]
Type=exec
User=ubuntu
Group=ubuntu
WorkingDirectory=/opt/hero/current
ExecStart=/opt/hero/hero.sh
PIDFile=/var/run/hero.pid
RemainAfterExit=no
Restart=on-failure
RestartSec=5s
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=hero
# file size
LimitFSIZE=infinity
# cpu time
LimitCPU=infinity
# virtual memory size
LimitAS=infinity

[Install]
WantedBy=multi-user.target
